<h1>Profile</h1>
<p>Hai <%= @user.first_name %> </p>
<hr />
<p>Jumlah tryout yang sudah diambil: <%= @student.tryouts.count %> tryout</p>
<p>Beasiswa yang didapat: <%= @student.discount * 100 %>%</p>
